{% if current_user.user_type == "2" %}
    {% if current_user.restaurant == None %}
        <a href="/make_restaurant"><button>Make Restaurant</button></a>
    {% else %}
        <a href="/manage_orders"><button>Manage Restaurant</button></a>
    {% endif %}
{% endif %}

{% if current_user.user_type == "3" %}
    <a href="/restaurant/{{current_user.restaurant.id}}"><button>View menu</button></a>
{% endif %}


{% for item in restaurants %}
<a href="{{url_for('restaurant',id=item.id)}}"><p>{{item.name}}</p></a>
<p>{{item.description}}</p>
<hr />
{% endfor %}